$logoFont:'Marck Script', cursive;
$techy:'Source Code Pro', monospace;
$mainText:'Montserrat', sans-serif;

$sixty: rgb(231, 228, 228);
$thirty: #fe4870;
$ten: #220756;



body{

background-color: $sixty;

    scroll-behavior: smooth !important;
}


body::-webkit-scrollbar{

    display: none;

}

.navbar-toggler{
    .line{
        width: 30px;
        height: 4px;
        border-radius: 30px;
        background-color: $thirty;
        margin-bottom: 3px;
    }

    .line2{
        width: 25px;

    }
}




.btn{
    width: 140px;
    height: 45px;
    border: 1px solid $sixty;
    color: $sixty;
font-family: $techy;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link:hover{
    color: #fe4870;
    transition: all .3s ease-in-out;
}

nav{
    background-color: rgb(1, 24, 34);

    a{
        color: $sixty ;
    }

    .navbar-brand{
        font-family: $logoFont !important;
        font-size: 34px;
    }

    .navbar-brand:hover{
        color: #fe4870;
        transition: all .3s ease-in-out;
    }

    .nav-link{
        font-family: $techy !important;
        letter-spacing: 1px;
        transition: all .3s ease-in-out;

    }

    
}

.hero{
   
background-color: rgb(1, 24, 34);
    color: $sixty;

.text{
    .btn{
        width: 140px;
        height: 45px;
        border: 1px solid $sixty;
        color: $sixty;
    font-family: $techy;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn:hover{
        border: 1px solid $thirty;
        color: $sixty;
    }
}


.title{
    font-family: $mainText;
    font-size: 48px;

    a{
        text-decoration: none;
        color: $thirty;
        cursor: default;
    }
}

}

.imageWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backContainer{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow:
  0 0.2px 0.8px rgba(1, 18, 26, 0.059),
  0 0.4px 1.9px rgba(1, 18, 26, 0.084),
  0 0.9px 3.9px rgba(1, 18, 26, 0.106),
 
;

}

.image{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-image: url(/Images/Bright.png);
    background-color:rgb(1, 24, 34) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(60%);
}

.Connect i{
    font-size: 25px;
    color: $sixty ;
    transition: all .3s ease-in-out;

}


.Connect i:hover{
transform: scale(1.3);
    color: $thirty ;
    transition: all .3s ease-in-out;
}


.services{
    h1{
        font-family: $mainText;
        font-size: 48px;
    }

.Experties{


    .title{
        font-size: 30px;
        font-weight: 500;
    }
}

}




.About , .Contact{

h1{
    font-family: $mainText;
    font-size: 48px;
    font-weight: 500;
}

.text{
    font-size: 20px;
}


.stacks{
    .title{
        font-family: $mainText;

        font-size: 30px;
        font-weight: 500;
    }
}


.card{
border-radius: 5px !important;
}
.card-text{
    font-family: $mainText;

    font-size: 20px;
    font-weight: 500;
}

}


.DBMS , .Cloud{
.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
    
    .card{
        width: 100%;
        height: 250px;
        border-radius: 5px !important;

        background-color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}


.progress{
    border-radius: 30px !important;
    background-color: #ffff !important;

    .progress-bar{
        border-radius: 30px Im !important;
        background-color: $thirty !important;
    }
}

.Contact{
    .btn{

        background-color: $thirty;
        color: $sixty;

    }

    .btn:hover{
        background-color: $ten;

    }

    .Connect i{
        font-size: 30px;
        color: $ten ;
        transition: all .3s ease-in-out;
    
    }
    
    
    .Connect i:hover{
    transform: scale(1.3);
        color: $thirty ;
        transition: all .3s ease-in-out;
    }
    
}


footer{
    background-color: $ten;
    color: $sixty;

.main{
    display:flex ;
    flex-direction: column;
}

.cv{
    display: flex;
    justify-content: center;
}

.cv .btn{
    border-radius: 30px !important;
}

.cv .btn:hover{
border: 1px solid $thirty;
    color: $thirty !important;
}

    a{
        color: $sixty ;
    }

    .navbar-brand{
        font-family: $logoFont !important;
        font-size: 48px;

    }
    .navbar-brand:hover{
        color: #fe4870;
        transition: all .3s ease-in-out;
    }


    .nav-link{
        font-family: $mainText !important;
        font-weight: 200;
        font-size: 17px;
        transition: all .3s ease-in-out;

    }
    .active{
        font-weight: 500;
        color: #fe4870;
        font-size: 20px;
    }


    .title{
        font-family: $mainText;
        font-size: 24px;
    }

    .socailMedia{
        display: flex;
        justify-content: space-around;
    }

    .message{
        font-family: $techy;

    }
}

.project{

    .title{
font-family: $techy;
font-size: 48px;
letter-spacing: 2px;
    }

    .head{
        font-family: $techy;
font-size: 30px;
letter-spacing: 2px;
color: $thirty;
    }

    .showcase{
a{
    text-decoration: none;
}

        img{
            border-radius: 5px;
        }

        p{
            font-family: $mainText;
            color: $sixty ; 
            transition: all .3s ease;
     
        }

        p:hover{
            color: $thirty;
            transition: all .3s ease;
        }


    }

}

.dropdown-menu{
    background-color: $sixty !important;
    a{
        color: $ten !important;
    }
    a:hover{
        background: none !important;
        color: $thirty !important;
        transition: all .3s ease;
    }

   
}


